.regbackground {
  width: 100%;
  height: 90vh;
  display: flex;
  position: relative;
}
.regbg {
  position: absolute;
  z-index: 100;
}
.regpic {
  position: absolute;
  right: 20px;
  bottom: 0px;
}
@media(max-width:768px){
    .regpic {display: none;}
}
